<% layout("/layouts/boilerplate") %>

<br>
<h3>Create a New Listing</h3>

<div class="row">
  <div class="col-8">

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          id="title"
          name="listing[title]" 
          type="text" 
          class="form-control" 
          placeholder="Enter title"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div> 

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
          id="description"
          name="listing[description]" 
          placeholder="Enter description" 
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description should be valid!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input 
          id="image"
          name="listing[image]" 
          class="form-control" 
          type="file"
          required
        />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select 
          id="category"
          name="listing[category]" 
          class="form-select"
          required
        >
          <option value="" disabled selected>Select category</option>
          <option value="trending">Trending</option>
          <option value="rooms">Rooms</option>
          <option value="iconic">Iconic City</option>
          <option value="mountains">Mountains</option>
          <option value="castles">Castles</option>
          <option value="pools">Amazing Pools</option>
          <option value="flats">Flats</option>
          <option value="homes">Homes</option>
          <option value="villa">Villa</option>
          <option value="camps">Camps</option>
          <option value="farms">Farms</option>
          <option value="igloo">Igloo</option>
          <option value="beach">Beach</option>
          <option value="apartment">Apartment</option>
          <option value="arctic">Arctic</option>
        </select>
        <div class="invalid-feedback">Please select a category.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input 
            id="price"
            name="listing[price]" 
            placeholder="Enter price" 
            type="number" 
            class="form-control"
            min="0"
            required
          />
          <div class="invalid-feedback">Price should be valid!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input 
            id="country"
            name="listing[country]" 
            placeholder="Enter country" 
            type="text" 
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input 
          id="location"
          name="listing[location]" 
          placeholder="Enter location" 
          type="text" 
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>

      <br>

      <button class="btn btn-dark add-btn">Add</button>

    </form>

    <br>
  </div>
</div>
